.product-container {
  flex: 1;
  display: flex;
  padding: 20px;
  gap: 20px;
  padding-top: 50px;
  overflow: auto;
}

.product-details-section {
  flex: 2;
  display: flex;
}

.product-sales-section {
  flex: 7;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.product-sales-section > div {
  flex-basis: 0;
}